.bond {
	width: 5px;
	height: 10px;
	background: #eee;
}
.center {
	display: table-cell !important;
   	vertical-align: middle !important;
   	text-align: center !important;
}
#footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}
#title {
	color: yellow;
	font-size: 25pt;
	font-weight: bold;
}